<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>QG-UI</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  </head>
  <body>
    <div class="container-fluid">
      <h1 >QG-UI</h1><hr>
    </div>
    <div class="container-fluid">
      <form id="keyword_form" action="/questions" method="post">
        <div>
          <h3>Number of questions generated : <%= generatedQuestion.length %></h3><br>
          <% for(var i=0; i < generatedQuestion.length; i++) {%>
            <span id="span<%=generatedQuestion[i].index %>" data-val="<%= JSON.stringify(generatedQuestion[i]) %>" style="display: block;border-radius: 5px 5px 5px;border: 1px solid red;">
              Question Generated : <textarea name="question" rows="1" class="ques" readonly cols="80"><%= generatedQuestion[i].question %></textarea>
              <button type="button" name="button">Edit question</button><br>
              Answer : <textarea name="question" rows="1" class="answer" readonly cols="80"><%= generatedQuestion[i].answer %></textarea>
              <button type="button" name="button">Edit answer</button><br>
              <button type="button" name="button">View paragraph</button>
              <button type="button" name="button">Delete</button>
            </span><br>
          <% } %>
        </div><br>
      </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascripts/questions.js"></script>
  </body>
</html>
